body {
}

a {
  text-decoration: none;
}

#upperbar {
  background: url('bg pattern.png');
  height: 125px;
  max-width: 100%;
  border-bottom: solid;
  border-bottom-width: medium;
  border-color: #f7f7f7;
  padding: 0;
}

div.kutipan-atas {
  color: #fff;
  font-size: 14px;
  font-family: 'Fira Sans';
  background-color: #9b2c2c;
  width: 320px;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 29px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .konten-padding {
    width: 1140px;
  }
}

.konten-padding {
  padding: 0px 0 30px 0;
}

#isi-upperbar {
  max-width: 1140px;
  max-height: 125px;
}

img.logo {
  height: 64px;
  margin-top: 10px;
  margin-right: 20px;
}

#search-button {
  background-color: inherit;
  margin-right: 20px;
  border-color: #ffffff;
}

i.search {
  color: var(--bs-dark);
}

a#login {
  color: #0d47a1;
  align-items: center;
  justify-content: center;
  display: flex;
  border: solid;
  border-width: 1px;
  padding: 8px 16px;
  border-radius: 0.25rem;
}

#direction-bar {
  margin-top: 20px;
  max-width: 1140px;
}

li.navlist {
  margin-right: 15px;
  font-weight: 600;
}

.tabindex {
  max-width: 111px;
  height: 144px;
  margin: 10px 20px;
  padding: 0 7px;
}

.explanation {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#news-item {
  margin-top: 50px;
}

#news-item h1 {
  font-size: 30px;
  font-weight: 600;
}

.details #main-berita {
  margin: 20px 0;
  border-radius: 0.5rem;
  width: 100%;
}

.judul.berita {
  font-size: 1rem;
  color: #000000;
  font-weight: bolder;
  font-family: 'Fira Sans';
  margin-bottom: 10px;
}

.lihat-lebih-banyak {
  color: #0d47a1;
  font-weight: bold;
}

.berita-baru {
  margin-top: 20px;
}

.ket-berita {
  color: var(--bs-gray-600);
  font-size: 0.8rem;
}

.pict-berita {
  height: 100px;
  border-radius: 0.5rem;
}

.konten-berita3 {
  padding: 30px;
}

.pict-berita3 {
  max-width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

#konten-terbitan {
  background-color: #f3f4f6;
  padding-bottom: 100px;
  max-width: 100%;
  padding: 80px 20px 130px 20px;
}

.terbitan {
  padding: 30px 20px 0 10px;
}

.terbitan {
  padding: 30px 20px 0 10px;
}

.cover-terbitan {
  width: 33%;
  margin-right: 20px;
  border-radius: 0.1rem;
  box-shadow: 1px 1px 1px var(--bs-gray-600);
}

.judul-part {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Fira Sans';
}

.konten-langkah {
  background-color: #092147;
  border-radius: 0.25rem;
  margin-bottom: 50px;
}

.baris-langkah {
  color: #ffffff;
  font-family: 'Fira Sans';
  margin-top: 50px;
}

.ikon-star {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.steps {
  margin-bottom: 60px;
}

.bg-angka {
  background-color: #0d47a1;
  box-sizing: border-box;
  border-radius: 9999px;
  width: 4rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

.judul-part.infografis {
  margin-bottom: 20px;
}

.poster-info1 {
  background-image: url('poster1.webp');
  width: 100%;
  height: 248px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #bab3b3;
}

.poster-info2 {
  background-image: url('poster2.webp');
  width: 100%;
  height: 248px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #bab3b3;
}

.poster-info3 {
  background-image: url('poster3.webp');
  width: 100%;
  height: 248px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #bab3b3;
}

.postergo {
  padding: 0 20px;
  margin-bottom: 30px;
}

.konten-bgfull {
  max-width: 100%;
  background-color: #f3f4f6;
  padding: 50px;
}

.col-pengumuman {
  margin: 0 20px 100px 20px;
  box-shadow: 1px 1px rgb(213,214,215);
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.card-header {
  background-color: #3F51B5;
  color: #ffffff;
  font-family: 'Fira Sans';
  padding: 30px;
}

.card-header2 {
  background-color: #F57C01;
  color: #ffffff;
  font-family: 'Fira Sans';
  padding: 30px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.lihat-lebih-banyak-white {
  color: #ffffff;
}

.header-ikon {
  font-size: 40px;
  margin-bottom: 10px;
}

.step-pengumuman {
  padding-top: 20px;
}

.bg-angka-pengumuman {
  background-color: #E2E8F0;
  box-sizing: border-box;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
  color: #000000;
}

#konten-medsos {
  padding-top: 30px;
  border-top: solid;
  border-width: thin;
  border-color: rgb(201,200,200);
}

.medsos {
  margin-right: 50px;
}

.ket-berita.ket-medsos {
  margin-top: 20px;
  max-width: 300px;
}

.fa.fa-facebook.medsos {
  background-color: #1674EA;
  border-radius: 9999px;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  font-size: 20px;
}

.fa.fa-youtube-play.medsos {
  background-color: #E02017;
  border-radius: 9999px;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  font-size: 20px;
}

.fa.fa-twitter.medsos {
  background-color: #1B9CEA;
  border-radius: 9999px;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  font-size: 20px;
}

.fa.fa-instagram.medsos {
  background-color: #D02873;
  border-radius: 9999px;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: #ffffff;
  font-size: 20px;
}

.heading-medsos {
  font-weight: bold;
  font-family: 'Fira Sans';
  margin-bottom: 0px;
}

.konten-bgfull.blue {
  background-color: #092147;
}

.judul-part.video {
  color: #ffffff;
  margin-bottom: 30px;
}

.bg-angka-video {
  background-color: #0D47A1;
  box-sizing: border-box;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
  color: #ffffff;
}

.judul.berita.video {
  color: #ffffff;
  font-size: 17px;
}

.step-pengumuman.list-video {
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: thin;
  border-color: #2f4465;
  max-width: 400px;
  padding-top: 30px;
}

#row-video {
  width: 100%;
}

.lihat-lebih-banyak-white.video {
  margin-top: 30px;
}

.konten-padding.galeri {
  padding-top: 50px;
}

.col.galeri {
  margin: 20px;
}

.img-galeri {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 2px 1px #d3d5d7;
  margin-bottom: 20px;
}

.konten-galeri {
  padding-bottom: 100px;
  border-bottom: solid;
  border-width: thin;
  border-color: #bab3b3;
}

#survei-singkat {
  padding-bottom: 100px;
  border-bottom: solid;
  border-width: thin;
  border-color: #bab3b3;
}

#survei-judul {
  margin-right: 200px;
  margin-bottom: 20px;
}

.judul-part.survei {
  font-size: 18px;
  max-width: 350px;
  margin-bottom: 20px;
}

.form-label {
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Fira Sans';
}

.jawaban-form {
  border-radius: 0.5rem;
  background-color: #0d47a1;
  font-family: 'Fira Sans';
}

#quotes {
  max-width: 100%;
  padding-bottom: 50px;
  border-bottom: solid;
  border-width: medium;
  border-color: #f3f4f6;
}

.konten-padding.quotes {
  margin-top: 50px;
  box-shadow: 0 0 2px 0 #bab3b3;
  padding-bottom: 0;
}

#foto-pahlawan {
  background-image: url('ra kartini.webp');
  width: 380px;
  height: 316px;
  background-position-x: 50%;
  background-position-y: 50%;
  border-radius: 0.5rem 0 0 0.5rem;
}

#quotes-pahlawan {
  background-color: #092147;
  color: #ffffff;
  padding: 40px;
  max-width: 760px;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 316px;
}

#quotes-pahlawan .judul-part.quotes {
  color: #ffffff;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact {
  max-width: 100%;
  background-image: url('bg pattern.png');
  padding-top: 30px;
}

.padding-contact {
  margin-top: 20px;
}

.icon-contact {
  font-size: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

.contact-text {
  margin-right: 20px;
  font-size: 13px;
  font-family: 'Fira Sans';
}

#email {
  margin: 10px 0;
}

#senarai {
  font-weight: bold;
}

#surel {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #bab3b3;
  padding: 20px;
}

.footer-clean {
  background-color: #092147;
}

.row-footer {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 0;
}

.kemendikbud-footer {
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 0;
}

#copyright {
  margin-right: 10px;
}